img {
    width: 40vw;
    height: 250px;
    left: 0vw;
    border-radius:100px;
    margin-left: 30%;
}
body{
    background-color: gray;
}

h1, p{
    text-align: center;
    font-size:10vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2{
    text-align: center;
    font-size:5vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p3{
    text-align: center;
    font-size:5vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
